@model MyQuizWebCoreApp.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectAnswer" class="control-label"></label>
                <input asp-for="CorrectAnswer" class="form-control" />
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WrongAnswer1" class="control-label"></label>
                <input asp-for="WrongAnswer1" class="form-control" />
                <span asp-validation-for="WrongAnswer1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WrongAnswer2" class="control-label"></label>
                <input asp-for="WrongAnswer2" class="form-control" />
                <span asp-validation-for="WrongAnswer2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WrongAnswer3" class="control-label"></label>
                <input asp-for="WrongAnswer3" class="form-control" />
                <span asp-validation-for="WrongAnswer3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WrongAnswer4" class="control-label"></label>
                <input asp-for="WrongAnswer4" class="form-control" />
                <span asp-validation-for="WrongAnswer4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
